{% extends 'base.html' %} {% block header %}
<h1>Welcome to Traffic Predictor</h1>
{% endblock %} {% block content %}
<div class="container">
<form method="post">

  <p> Which Direction are you Headed?</p>
  <label for="towards">Towards Bridge</label>
  <input type="radio" name="direction" id="towards" />
  <label for="from">From Bridge</label>
  <input type="radio" name="direction" id="from" />

  <p> Plese select date and time: </p>

  <input type="datetime-local" required />
  <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
