{% extends 'base.html' %} {% block header %}
<h1>Welcome to Traffic Visualizer!</h1>
<p class="my-30">
  Fill out the form below to see traffic conditions on Huron Church for a date
  and time of your choice.
</p>
{% endblock %} {% block content %}
<form method="post" class="container">
  <p>See traffic for which direction?</p>
  <div>
    <input type="radio" name="direction" id="towards" value="towards" />
    <label for="towards">Towards Bridge</label>
  </div>
  <div>
    <input type="radio" name="direction" id="from" value="from" />
    <label for="from">From Bridge</label>
  </div>
  <p>Please select date and time:</p>

  <input
    id="date-picker"
    name="date"
    type="datetime-local"
    max="2021-09-24T00:00:00"
    min="2019-07-16T00:00:00"
    required
  />
  <input class="btn" type="submit" value="Submit" />
</form>
{% endblock %}
