{% extends 'base.html' %} {% block header %}
<h1>BAM! here's your traffic visualization!</h1>
<p class="visualizer-desc">
  The map on the left illustrates the level of traffic congestion, and the pie
  chart shows the distribution of different vehicle types.
</p>
<p class="visualizer-desc">
  Both sides only consider traffic in the direction chosen previously.
</p>
{% endblock %} {% block content %}
<div id="visualizer-container">
  <div id="map-container">
    <img src="../../static/map.png" alt="Map not found" />
    {% if to_flag %}
    <div class="traffic-segments {{intervals[0:10]}}" id="to-1"></div>
    <div class="traffic-segments {{intervals[10:20]}}" id="to-2"></div>
    <div class="traffic-segments {{intervals[20:30]}}" id="to-3"></div>
    {% else %}
    <div class="traffic-segments {{intervals[0:10]}}" id="from-1"></div>
    <div class="traffic-segments {{intervals[10:20]}}" id="from-2"></div>
    <div class="traffic-segments {{intervals[20:30]}}" id="from-3"></div>
    {% endif %}
  </div>
  <div id="analytics-container">
    <img
      id="pie-chart"
      src="../../static/pie_chart.png"
      alt="Pie chart not found"
    />
  </div>
</div>
<form method="post">
  <input class="btn" id="back-btn" type="submit" value="Back" />
</form>
{% endblock %}
