* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #f4f4f4;
  --top-offset: 50px;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  background-color: var(--body-background);
}

.header-text {
  text-align: center;
  font-size: 2rem;
}

.content {
  margin: var(--top-offset) auto 0;
  width: 70%;
}

.flash {
  text-align: center;
}

#visualizer-container {
  margin-top: 20px;
}

#map-container {
  border: 1px solid black;
  width: fit-content;
}

.container {
  margin: 20px auto 0;
  width: 530px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
}

#visualizer-container {
  display: flex;
  margin-top: 20px;
}

#map-container {
  position: relative;
  border: 1px solid black;
}

#date-picker {
  padding: 5px 10px;
  font-size: inherit;
}

.btn {
  border-radius: 10px;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px;
  font-size: inherit;
  background-color: white;
  transition: background-color 0.25s;
}

.btn:hover {
  background-color: #eee;
}

.traffic-segments {
  position: absolute;
  background-color: lime;
  width: 15px;
}

#to-1 {
  height: 50px;
  bottom: 1px;
  right: 125px;
  transform: rotate(-22deg);
}

#to-2 {
  height: 400px;
  bottom: 64px;
  right: 229px;
  transform: rotate(-24.2deg);
}

#to-3 {
  height: 245px;
  bottom: 457px;
  right: 372px;
  transform: rotate(-23deg);
}

#from-1 {
  height: 50px;
  top: 3px;
  left: 98px;
  transform: rotate(-25deg);
}

#from-2 {
  height: 245px;
  top: 65px;
  left: 169px;
  transform: rotate(-23deg);
}

#from-3 {
  height: 400px;
  top: 305px;
  left: 312px;
  transform: rotate(-24.2deg);
}

.interval-1 {
  background-color: #ff4d4d !important;
}
.interval-2 {
  background-color: #ff794d !important;
}
.interval-3 {
  background-color: #ffa64d !important;
}
.interval-4 {
  background-color: #ffd24d !important;
}
.interval-5 {
  background-color: #ffff4d !important;
}
.interval-6 {
  background-color: #d2ff4d !important;
}
.interval-7 {
  background-color: #a6ff4d !important;
}
.interval-8 {
  background-color: #79ff4d !important;
}
.interval-9 {
  background-color: #4dff4d !important;
}
.interval-0 {
  background-color: #4dff79 !important;
}
