* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategrey;
}

h1 {
  text-align: center;
  color: darkslategrey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  row-gap: 30px;
}